.container {
  width: 100vw;
  padding: 2rem 6rem;
  position: fixed;
  z-index: 500;
  animation: blurry 5s;
}

.container-scrolled {
  background-color: var(--color-navy-med);
  transition: all 0.2s;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.nav-links-container {
  animation: fadeIn 3s;
  display: flex;
  gap: 4rem;
  font-size: 2rem;
  opacity: 1;
}

.link {
  color: white;
}

@keyframes blurry {
  0% {
    filter: blur(7px) brightness(70%);
  }

  100% {
    filter: blur(0) brightness(100%);
  }
}
