.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  // animation: blurry 5s;
}

.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.box {
  position: absolute;
  z-index: 5;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;

  @media (max-width: 1200px) {
    width: 60%;
  }

  @media (max-width: 800px) {
    width: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 650px) {
    width: 75%;
  }
}

.title {
  @media (max-width: 1000px) {
    font-size: 4.8rem;
    line-height: 5rem;
  }

  @media (max-width: 800px) {
    text-align: center;
  }
}

.description {
  font-size: var(--font-large);
  line-height: var(--line-height-large);

  @media (max-width: 1000px) {
    font-size: var(--font-med);
  }
}

.button {
  padding: 1rem 3rem;
  background-color: var(--color-navy-med);
  color: white;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--color-blue-light);
  transform: scale(110%);
}
