.container {
  background-color: var(--color-white);
  width: 100vw;
  height: 90vh;
  display: flex;
  color: white;
}

.hero-container {
  background-color: var(--color-blue);
  width: 100%;
  height: 75%;
  padding: 0 25rem;
  margin-top: auto;
  display: flex;
  position: relative;
}

.anthony {
  position: absolute;
  color: var(--color-black);
  font-size: 17rem;
  left: 50%;
  transform: translateX(-50%);
  top: -11rem;
}

.hero-contents {
  //   background-color: yellowgreen;
  width: 100%;
  height: 50rem;
  margin: auto auto 0;
  display: flex;
  gap: 5rem;
}

.hero-text {
  //   background-color: blueviolet;
  width: 90rem;
}

.hero-text-contents {
  //   background-color: sandybrown;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-header {
  font-size: 4rem;
}

.text-subheader {
  font-size: 3rem;
}

.list-container {
  //   background-color: thistle;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.list-item {
  //   background-color: aqua;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
}

.hero-picture {
  width: 50rem;
  height: 100%;
  background-color: red;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
