.container {
  width: 100vw;
  height: 100%;
  margin-top: 4.6rem;
  padding: 10rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: var(--color-grey-light);
}

.header-container {
  //   background-color: lawngreen;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--color-red-dark);
}

.how-container {
  //   background-color: royalblue;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.steps-container {
  display: flex;
  gap: 20rem;
}

.picture {
  width: 50%;
  height: 50rem;
  object-fit: cover;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  //   background-color: bisque;
  width: 50%;
  padding-right: 20rem;

  h1 {
    color: var(--color-red-dark);
  }

  p {
    font-size: var(--font-large);
    line-height: var(--line-height-large);
  }
}
