.container {
  width: 100vw;
  background-color: var(--color-bg);
  padding: 10rem 25rem;
  text-align: center;
}

.section-header {
  color: var(--color-turquoise-med);
}

.how-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
}

.how-card {
  background-color: var(--color-peach-med);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
}

.picture {
  width: 30rem;
  height: 30rem;
  border-radius: 500px;
  object-fit: cover;
}

.title {
  text-align: center;
  color: var(--color-blue-dark);
}

.text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-blue-dark);
}
