.container {
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 6rem;

  @media (max-width: 1400px) {
    flex-direction: column;
    gap: 6rem;
  }

  @media (max-width: 1200px) {
    padding: 4rem;
  }

  @media (max-width: 800px) {
    gap: 4rem;
    padding: 4rem 2rem;
  }
}

.logo {
  font-size: 4rem;
  color: white;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.links-container {
  display: flex;
  gap: 8rem;
  font-size: var(--font-med);

  @media (max-width: 1400px) {
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: 800px) {
    font-size: 1.4rem;
    gap: 4rem;
  }
}

.footer-title {
  color: white;
  margin-bottom: 2rem;
}

.info-details {
  color: white;

  p {
    font-size: var(--font-small);

    @media (max-width: 800px) {
      font-size: var(--font-xs);
    }
  }
}

.telephone {
  margin-top: 1.4rem;
}
