.container {
  width: 100vw;
  height: 100rem;
  background-color: var(--color-grey-med);
  display: flex;
}

.text-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 50%;
  font-size: var(--font-med);
}

.picture-container {
  width: 30%;
  padding: 5rem;
  background-color: var(--color-navy-med);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;

  h3 {
    text-align: center;
  }
}

.picture {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 50%;
}
