.container {
  width: 100vw;
  height: 100rem;
  background-color: var(--color-navy-med);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-container {
  width: 30%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  // background-color: aqua;
}

.text {
  width: 90%;
  font-size: var(--font-med);
}

.picture-container {
  width: 30%;
  height: 60rem;
  display: flex;
  justify-content: center;
  // background-color: royalblue;
}

.picture {
  width: 70%;
  height: 50rem;
  object-fit: cover;
}
