:root {
  --color-navy-dark: #224058;
  --color-navy-med: #2b506e;
  --color-navy-light: #6b859a;
  --color-blue-dark: #375f71;
  --color-blue-med: #4f87a2;
  --color-blue-light: #84abbe;
  --color-grey-dark: #9aa6ab;
  --color-grey-med: #cdd9de;
  --color-grey-light: #f9fafb;
  --color-turquoise-dark: #025e6b;
  --color-turquoise-med: #1da6bb;
  --color-turquoise-light: #b4e1e8;
  --color-red-dark: #aa0000;
  --color-red-med: #c44d4d;
  --color-red-light: #dd9999;

  --color-black: #030406;
  --color-white: #fff;
  --color-bg: #f1f6f9;

  --font-xl: 3rem;
  --font-large: 2.4rem;
  --font-med: 2rem;
  --font-small: 1.6rem;
  --font-xs: 1.2rem;

  --line-height-large: 3.4rem;
  --line-height-med: 3rem;
  --line-height-small: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-red-med);
  }
}

html {
  font-size: 62.5%;
  background-color: #f5f5f5;
  color: #020617;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 1px solid white;
  outline: none;
  color: white;
  padding: 1.4rem 4.6rem;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  transition: all 0.5s;
  align-self: start;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 5rem;
  line-height: 5.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}
