.container {
  // background-color: var(--color-grey-light);
  width: 100vw;
  height: 100%;
}

.new-container {
  display: flex;
  height: 90vh;

  @media (max-width: 800px) {
    flex-direction: column-reverse;
    height: 100%;
  }
}

.new-container-text {
  width: 50%;
  // background-color: aqua;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;

  @media (max-width: 800px) {
    width: 100%;
  }

  h2 {
    color: var(--color-blue-dark);

    @media (max-width: 1000px) {
      font-size: 3.6rem;
    }
  }

  p {
    font-size: var(--font-med);

    @media (max-width: 1000px) {
      font-size: var(--font-small);
    }
  }
}

// .new-container-text-content {
//   width: 70%;
//   display: flex;
//   flex-direction: column;
//   background-color: aliceblue;
//   gap: 2rem;
// }

.new-container-picture {
  margin-top: 10rem;
  width: 50%;

  @media (max-width: 800px) {
    width: 100%;
    height: 40rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.articles-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 23%));
  justify-content: space-between;
  padding: 4rem;
  row-gap: 8rem;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(auto-fit, minmax(27%, 31%));
    row-gap: 6rem;
  }

  @media (max-width: 1000px) {
    row-gap: 4rem;
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(45%, 48%));
    margin-top: 0;
  }
}

.article {
  height: 100%;
  //   background-color: rgb(123, 22, 106);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  h3 {
    color: var(--color-blue-dark);

    @media (max-width: 1400px) {
      font-size: 2.4rem;
    }

    @media (max-width: 1000px) {
      font-size: 2rem;
    }
  }
}

.picture {
  width: 100%;
  height: 60rem;
  object-fit: cover;

  @media (max-width: 1800px) {
    height: 45rem;
  }

  @media (max-width: 1400px) {
    height: 35rem;
  }

  @media (max-width: 1000px) {
    height: 25rem;
  }
}

.date {
  text-transform: uppercase;
  font-size: 1.4rem;

  @media (max-width: 1000px) {
    font-size: 1rem;
  }
}
